schema/snapshots/2026-05-06/Customer_Access_XSD.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="customerAccess">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="access">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="email" />
              <xs:element name="defaultPriceGroup" />
              <xs:element name="defaultCurrency" />
              <xs:element name="customers">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="customer">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="customerNo" />
                          <xs:element maxOccurs="unbounded" name="shippingLocationCode" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>