schema/snapshots/2026-05-06/ProductPrices_Feed_XSD.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="products">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="product">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="uniqueId" />
              <xs:element name="colorCode" />
              <xs:element name="prices">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="price">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="currencyCode" />
                          <xs:element minOccurs="0" name="customerNo" />
                          <xs:element minOccurs="0" name="priceGroup" />
                          <xs:element name="retailPrice" />
                          <xs:element name="wholesalePrice" />
                          <xs:element name="purchasePrice" />
                          <xs:element name="originalWholesalePrice" />
                          <xs:element name="sizeName" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>